<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> Trip Details For <%= @user.fname %><h1>
      <h2><%= link_to @home.title, "www.scarebnb.xyz/#/homes/#{@home.id}", :style => "text-decoration: none; color: black" %> <h2>
      <%= link_to image_tag("#{@home.image_url}", :style => "height: 300px; width: 400px"), "www.scarebnb.xyz/#/homes/#{@home.id}" %>

      <p> Check-in Date: <%= @trip.start_date %> <p>
      <p> Check-out Date: <%= @trip.end_date %> <p>

  </body>
</html>
