<!DOCTYPE html>
<html>
  <head>
    <title>ScareBnb</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDJitewjtfDX2DxK2N1lB6WjHTWpnQoLcM" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Barlow:200,300,400,500,600,700,800" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  </head>

  <body>
    <script>
      $(document).ready(function(){
      window.showModal = function(){
        $("#modal").addClass("is-active");
      }
      window.hideModal = function(){
        $("#modal").removeClass("is-active");
      }
      $("body").on("click", ".js-show-modal", window.showModal);
      $("body").on("click", ".js-hide-modal", window.hideModal);
      });
    </script>
    <%= yield %>
  </body>
</html>
