<!DOCTYPE html>
<html>
  <head>
    <title>ScareBnb</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDJitewjtfDX2DxK2N1lB6WjHTWpnQoLcM" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
    <link href="https://fonts.googleapis.com/css?family=Barlow:200,300,400,500,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
